<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="behavior">
                    <serviceCredentials>
                        <windowsAuthentication allowAnonymousLogons="true" />
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <wsHttpBinding>
                <binding name="wsHttpBindingConfig" sendTimeout="00:05:00">
                    <security mode="Message" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="behavior" name="iLoveSharePoint.Debug.DebugConsole">
                <endpoint address="http://localhost:8777" binding="wsHttpBinding"
                    bindingConfiguration="wsHttpBindingConfig" bindingNamespace="http://iLoveSharePoint.com/debug/2009/04/07"
                    contract="iLoveSharePoint.Debug.IDebugConsole" />
                <host>
                    <timeouts closeTimeout="00:01:00" />
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>