<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BannerImage" value="Default"/>
    <add key="LogoImage" value="None"/>
    <!--<add key="EULA" value="EULA.rtf"/>-->
    <add key="SolutionId" value="D3D264AC-DFA3-4140-8DA7-C7B33393526F"/>
    <add key="SolutionFile" value="iLoveSharePoint.PowerWebPart_3.0.wsp"/>
    <add key="SolutionTitle" value="iLove SharePoint PowerWebPart 3.0"/>
    <add key="SolutionVersion" value="3.0.0.0"/>
    <add key="UpgradeDescription" value="Upgrades {SolutionTitle} on all frontend web servers in the SharePoint farm."/>
    <add key="RequireDeploymentToCentralAdminWebApplication" value="true"/>
    <add key="RequireDeploymentToAllContentWebApplications" value="false"/>    
  </appSettings>
</configuration>